@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 360px;
    font-family: "Inter", sans-serif;
}

.popup-content {
    margin: 1.75rem;
}

h1 {
    text-align: center;
    font-size: 1.25rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.75rem;
    margin: 2rem 0;
}

.input-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#save-btn,
input[type=number] {
    font-size: 1rem;
    border-radius: 6px;
}

input[type=number] {
    padding: 0.6rem;
    border: 2px solid #c9c9c9;
}

input[type=number]:focus {
    border: 2px solid rgb(93, 95, 96);
    outline: none;
}

#save-btn {
    color: #fff;
    border: none;
    background-color: #e74c3c;
    padding: 0.65rem 1rem;
    cursor: pointer;
}

#save-btn:hover {
    background-color: #f85341;
}

h2,
.date-range {
    text-align: center;
}

h2 {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.hidden {
    display: none;
}

.date-range {
    margin-bottom: 1.25rem;
}

.calorie-row {
    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
    background-color: #f0f0f0;
    padding: 0.7rem;
    border-radius: 6px;
    margin: 0.4rem 0;
}

/* tabs */ 

li {
    list-style: none;
}

a {
    color: rgb(93, 95, 96);
    text-decoration: none;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
}

.active {
    /* color: rgb(58, 60, 61); */
    text-decoration-color: #e74c3c;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

/* Daily entries section */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: left;
}

tr {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
}

.calories {
    text-align: center;
}

button img {
    height: 0.8rem;
}

.dots-btn {
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.dots-btn:hover {
    background-color: #f0f0f0;
}