@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-orange: #e74c3c;
    --hover-orange:  #f85341;
    --border-colour-light: #c9c9c9;
    --light-gray: #e1e1e1;
    --dark-gray: rgb(93, 95, 96);
    --text-gray: rgb(50, 52, 52);
    --item-background: #f1f1f1; 
    --border-radius: 6px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--text-gray);
    width: 360px;
    font-family: "Inter", sans-serif;
}

.popup-content {
    margin: 1.75rem;
}

h1 {
    text-align: center;
    font-size: 1.25rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.75rem;
    margin: 2rem 0;
}

.input-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#save-btn,
input[type=number] {
    font-size: 1rem;
    border-radius: var(--border-radius);
}

input[type=number] {
    padding: 0.6rem;
    border: 2px solid var(--border-colour-light);
}

input[type=number]:focus {
    border: 2px solid var(--dark-gray);
    outline: none;
}

#save-btn {
    color: #fff;
    border: none;
    background-color: var(--main-orange);
    padding: 0.65rem 1rem;
    cursor: pointer;
}

#save-btn:hover {
    background-color: var(--hover-orange);
}

h2,
.date-range {
    text-align: center;
}

h2 {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.date-range {
    margin-bottom: 1.25rem;
}

.calorie-row {
    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
    background-color: var(--item-background);
    padding: 0.7rem;
    border-radius: var(--border-radius);
    margin: 0.4rem 0;
}

/* tabs */ 

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin: 1.25rem;
    padding: 0.6rem;
    font-size: 0.95rem;
}

li {
    list-style: none;
}

a {
    color: var(--text-gray);
    text-decoration: none;
    padding: 0.6rem;
}

a:hover {
    border-radius: var(--border-radius);
    background-color: var(--item-background);
}

.active {
    text-decoration-color: var(--main-orange);
    text-decoration-line: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.5rem;
}

.tab-content {
    display: none;
}

.tab-content.active-panel {
    display: block;
}

/* Daily entries section */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

td:last-child {
    position: relative;
}

tr {
    border-bottom: 1px solid var(--light-gray);
}

.calories {
    text-align: center;
}

button img {
    height: 0.8rem;
}

.options-btn {
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
}

.options-btn:hover {
    background-color: var(--item-background);
}

.actions-menu {
    position: relative;
}

.inner-menu {
    position: absolute;
    top: 75%;
    right: 60%;

    display: none;

    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
    background-color: #fff;
    filter: drop-shadow(0 3px 0.2rem var(--light-gray));
    z-index: 2;
}

.inner-menu.active-menu {
    display: block;
}

.inner-menu button {
    width: 100%;
    padding: 0.5rem 0.8rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.options {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.options svg {
    height: 18px;
    width: 18px;
}

.inner-menu button:hover {
    background-color: var(--light-gray);
}